[Unit]
Description=Cosmovisor Daemon
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/cudos-cosmovisor
User=cudos
ExecStart=/usr/bin/cosmovisor start --home /var/lib/cudos/cudos-data --log_level "${DAEMON_LOGLEVEL}"
Restart=always
RestartSec=3
LimitNOFILE=infinity
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
