[Unit]
Description=Hermes Relayer Daemon
After=network-online.target

[Service]
User=hermes
ExecStart=/usr/bin/hermes start
Restart=always
RestartSec=3
LimitNOFILE=infinity
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
