[Unit]
Description=Osmosis Cosmovisor Daemon
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/osmosis-cosmovisor
User=osmosis
#TBD# ExecStartPre=/usr/bin/osmosis-init-node.sh
ExecStart=/usr/bin/cosmovisor start --home /var/lib/osmosis/.osmosisd --log_level "${DAEMON_LOGLEVEL}"
Restart=always
RestartSec=3
LimitNOFILE=infinity
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
